body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;

}

button {
   cursor: pointer;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-------------HEADER-------------*/
.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.current {
position: relative;
color: #404BBF;
}

.current::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
background-color: #404BBF;
border-radius: 2px;
height: 4px;
width: 100%;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/*------------HERO--------------*/
.hero {
   background-color: #2E2F42;
   background-image: linear-gradient(
    rgba(46, 47, 66, 0.70), 
    rgba(46, 47, 66, 0.70)), 
    url(../images/people-office-bg.jpg);
   max-width: 1440px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 188px 0 188px 0;
    margin: 0 auto;
}

.hero-container {
    flex-shrink: 0;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07em;
    letter-spacing: 0.02em;  
    max-width: 496px; 
    margin: 0 auto 48px;
}

.hero-btn {
    background-color: #4D5AE5;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    min-width: 169px;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/*-----------FEATURES-----------------*/
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: calc((100% - 24px * 3) / 4);
}

.features-item-icon {
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 8px;
}

.features-icon {

}

.features-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

/*-----------------TEAM---------------*/

.team {

}

.team {
    background:#F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;  
}

.worker-container {
    padding: 32px 0px 32px 0px;
}

.team-item {
    background: #FFF;
    border: none;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-img {
    
}

.team-item-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-item-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}

.team-socials {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-list-icon {
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-icon:hover .social-link,
.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}
 
.icon {
    fill: #f4f4fd;
}

/*-----------PORTFOLIO-------------*/

.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    width: 1128px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    background: #FFF;
    width: 360px;
    width: calc((100% - 24px * 2) / 3);
    border: 1px solid #e7e9fc;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-portfolio-card {
    position: relative;
    overflow: hidden;
}

.card-overlay-text {
    background-color: #4d5ae5;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .card-overlay-text {
    transform: translateY(0%);
}

.portfolio-img {

}

.portfolio-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-box {
    padding: 32px 16px;
    
}

.portfolio-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

/*----------FOOTER---------*/
.footer {
    background-color:#2E2F42;
    flex-shrink: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-logo {
    margin-right: 120px;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-bottom {
    display: inline-block;
    flex-shrink: 0;
    margin-bottom: 16px;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.container-footer-socials {
    margin-right: 80px;
}

.footer-social-subtitle {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-item-icons {
    width: 40px;
    height: 40px;
}

.footer-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:active,
.footer-icons-link:focus {
    background-color: #31d0aa;
}

.container-footer-form {   
}

.footer-form-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-label {}

.footer-subscribe-input {
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: transparent;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-subscribe-input::placeholder {
    color: #ffffff;
}

.footer-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    fill: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #31d0aa;
}

.footer-button-icon {
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.40);   
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
fill: #FFFFFF;
}

.modal-title {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.textarea-wrap {
    margin-bottom: 16px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus-within {
    border-color: #4D5AE5;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}
.modal-input-checkbox {
    display: none;
}

.modal-label-checkbox {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-right: 8px;
    margin-bottom: 24px;
}

.checkbox-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-input-checkbox:checked+.modal-label-checkbox .checkbox-label-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.modal-input-checkbox:checked+.modal-label-checkbox .checkbox-label-spa .form-checkbox-icon {
}

.checkbox-label-link  {
    color: #4D5AE5;
    text-decoration: underline;
    padding-left: 4px;
}

.checkbox-label-link:focus {
    outline: 1px solid #4d5ae5;
}

.modal-button {
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #FFF;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
}